<div class="container">
    
    <app-employee-form 
        [employeeDTOInputItem] = "employeeDTOItem"
        (ChildChanges)="ParentRefreshEmployeeList()"
    > </app-employee-form>
    <br />
    <div >
        <button class="btn btn-success  pull-right" (click)="AddNewEmployee()" > Add New </button>
    </div>

    <app-employee-list 
        [inputEmployeeList]="employeeUpdatetDTOList" 
        (EditItemEvent)="ParentCatchEditItemEvent($event)"   
        (DeleteItemEvent)="ParentCatchDeleteItemEvent()"   
    > </app-employee-list>

    
</div>